@import '../../App.scss';

@mixin carousel-navigation {
    display: flex;
    position: absolute;
    top: $content-medsmall-width;
    transform: translateY(-50%);
    cursor: pointer;
}

@mixin carousel-dimensions($width, $height, $margin) {
    width: $width;
    height: $height;
    margin: $margin;
}

.carousel {
    display: flex;
    position: relative;
    align-items: center;
    @include carousel-dimensions($content-large-width, $small3-screen, $margin-base);
    border-radius: $radius5;
    .carouselImage {
        @include carousel-dimensions($content-large-width, $content-large-width, 0);
        object-fit: cover;
        border-radius: $radius5;
    }
    .counter {
        display: flex;
        position: absolute;
        color: $tertiary-color;
        top: $content-medium-width;
        left: $content-medsmall-width;
        font-size: $size25;
        font-family: $primary-font;
    }
    .carouselPrev {
        @include carousel-navigation;
        left: $size15;
    }
    .carouselNext {
        @include carousel-navigation;
        right: $size15;
    }
}

@media (max-width: $medium-screen) {
    .carousel {
        @include carousel-dimensions($content-medium-width, $size450, $margin-base1);
    }
}

@media (max-width: $small-screen) {
    .carousel {
        @include carousel-dimensions($content-large-width, $size255, $margin-base1);
        .counter {
            font-size: $title7;
        }
        .carouselPrev,
        .carouselNext {
            width: $size1;
            height: $size2;
            &.carouselPrev {
                left: $size05;
            }
            &.carouselNext {
                right: $size05;
            }
        }
    }
}








