.carousel {
    display: flex;
    position: relative;
    align-items: center;
    height: 415px;
    width: 1240px;
    border-radius: 25px;
}

.carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;

}

.carouselPrev {
    display: flex;
    position: absolute;

    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.carouselNext {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}