@import '../../App.scss';

.logement-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logement-title {
    display: flex;
    height: 77px;
    width: 635px;
    color: $primary-color;
}


.logement-tag {
    display: flex;
}


.logement-description {
    display: flex;
}
.Collapse-logements {
    display: flex;
    flex-direction: row;
    width: 1240px;
}

.Collapse-description {
    display: flex;
    width: 582px;
}

.Collapse-equipement {
    display: flex;
    width: 582px;
}