@import '../../App.scss';

// Mixin pour les dimensions et le style de base des cartes
@mixin cards-base-style {
    display: flex;
    width: $content-large-width;
    height: $content-large-width;
    position: relative;
    border-radius: $radius2;
    overflow: hidden;

    &__img {
        width: $content-large-width;
        height: $content-large-width;
        object-fit: cover;
        min-width: $content-large-width;
        min-height: $content-large-width;
    }

    &__title {
        color: $tertiary-color;
        position: absolute;
        font-size: $title3;
        bottom: $size0;
        margin: $size15 $size2;
    }
}

// Mixin pour le style des cartes dans le media query max-width: $medium-screen
@mixin cards-medium-screen {
    @include cards-base-style;
    &_title {
        font-size: $title6;
        margin: $size1;
    }
}

// Mixin pour le style des cartes dans le media query max-width: $small-screen
@mixin cards-small-screen {
    @include cards-base-style;
    &__title {
        color: $tertiary-color;
        position: absolute;
        font-size: $title3;
        bottom: $size0;
        margin: $size1 $size1;
    }
}

// Utilisation des mixins dans les règles CSS
.cards {
    @include cards-base-style;

    // Media query pour max-width: $medium-screen
    @media (max-width: $medium-screen) {
        @include cards-medium-screen;
    }

    // Media query pour max-width: $small-screen
    @media (max-width: $small-screen) {
        @include cards-small-screen;
    }
}


// @import '../../App.scss';

// .cards {
//     display: flex;
//     width: $content-large-width;
//     height: $content-large-width;
//     position: relative;
//     border-radius: $radius2;
//     overflow: hidden;
//     &__img {
//         width: $content-large-width;
//         height: $content-large-width;
//         object-fit: cover;
//         min-width: $content-large-width;
//         min-height: $content-large-width;
//     }
//     &__title {
//         color: $tertiary-color;
//         position: absolute;
//         font-size: $title3;
//         bottom: $size0;
//         margin: $size15 $size2;
//     }
// }

// @media (max-width: $medium-screen) {
//     .cards {
//         display: flex;
//         width: $content-large-width;
//         height: $content-large-width;
//         position: relative;
//         border-radius: $radius2;
//         overflow: hidden;
//         &_title {
//             font-size: $title6;
//             margin: $size1;
//         }
//     }
// }

// @media (max-width: $small-screen) {
//     .cards {
//         display: flex;
//         width: $content-large-width;
//         height: $content-large-width;
//         position: relative;
//         border-radius: $radius2;
//         overflow: hidden;
//         &__img {
//             width: $content-large-width;
//             height: $content-large-width;
//             object-fit: cover;
//             min-width: $content-large-width;
//             min-height: $content-large-width;
//         }
//         &__title {
//             color: $tertiary-color;
//             position: absolute;
//             font-size: $title3;
//             bottom: $size0;
//             margin: $size1 $size1;
//         }
//     }
// }