@import '../../App.scss';

.cards {
    display: flex;
    width: $content-large-width;
    height: $content-large-width;
    position: relative;
    border-radius: $radius2;
    overflow: hidden;


    &__img {
        width: $content-large-width;
        height: $content-large-width;
        object-fit: cover;
        min-width: $content-large-width;
        min-height: $content-large-width;
    }

    &__title {
        color: $tertiary-color;
        position: absolute;
        font-size: $title3;
        bottom: 0;
        margin: 15px 20px;
    }
}

@media (max-width: $medium-screen) {
    .cards {
        display: flex;
        width: $content-large-width;
        height: $content-large-width;

        position: relative;
        border-radius: $radius2;
        overflow: hidden;
        &_title {
            font-size: $title6;
            margin: 10px;
        }
    }
}

@media (max-width: $small-screen) {
    .cards {
        display: flex;
        width: $content-large-width;
        height: $content-large-width;

        position: relative;
        border-radius: $radius2;
        overflow: hidden;


        &__img {
            width: $content-large-width;
            height: $content-large-width;
            object-fit: cover;
            min-width: $content-large-width;
            min-height: $content-large-width;
        }

        &__title {
            color: $tertiary-color;
            position: absolute;
            font-size: $title3;
            bottom: 0;
            margin: 10px 10px;
        }
    }
}