@import '../../App.scss';

.apropos {
    
    max-width: $pages-width;
    width: $content-large-width;
    margin: $margin-base;
    
}

@media (max-width: $medium-screen) {
    .apropos {
        width: $content-large-width;
    }
}

@media (max-width: $small-screen) {
    .apropos {
        width: $content-large-width;
    }
}