@import '../../App.scss';

$transition-speed: 0.3s;
$transition-slow-speed: 1.3s;
$rotate-angle: 180deg;

.Collapse-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    width: 100%;

    .Collapse {
        display: flex;
        flex-direction: column;
        // width: 1023px;
        border-radius: 5px;
        margin-bottom: 30px;
        width: 85%;

        &.open {
            .Collapse_title img {
                transform: rotate($rotate-angle);
            }

            .Collapse_content {
                display: block;
                opacity: 1;
                transition: $transition-slow-speed;
                max-height: 1000px; 
            }
        }

        .Collapse_title {
            display: flex;
            height: 52px;
            background-color: $primary-color;
            padding: 0 20px 0 15px;
            border-radius: 5px;
            align-items: center;
            position: relative;

            h2 {
                color: $tertiary-color;
                font-size: 24px;
                font-weight: 500;
                font-family: $primary-font;
            }

            img {
                cursor: pointer;
                position: absolute;
                height: 10px;
                width: 15px;
                color: $tertiary-color;
                right: 15px;
                transition: transform $transition-speed ease;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .Collapse_content {
            display: none;
            opacity: 0;
            overflow: hidden; 
            background-color: $secondary-color;
            transition: $transition-slow-speed;
            padding: 15px;
            
            ul {
                list-style: none;
                padding: 0;
            }
        
            li {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 400;
                font-family: $primary-font;
                
            }
            p {
                color: $footer-color;
                font-size: 18px;
                font-weight: 400;
                // margin-left: 15px;
                // margin-right: 15px;
                
                font-family: $primary-font;
            }

            
    }
}}




// @import '../../App.scss';

// .Collapse-container {
//     display: flex;
//     flex-direction: column;
//     border-radius: 5px ;
//     align-items: center;
// }

// .Collapse {
//     display: flex;
//     flex-direction: column;
//     width: 1023px;    
//     border-radius: 5px ;   
//     // gap: 15px;
//     margin-bottom: 30px;
// }
// .Collapse_title {
//     display: flex;  
//     height: 52px;  
//     background-color: $primary-color;
//     padding: 0 20px 0 15px;
//     border-radius: 5px ;
//     align-items: center;
//     position: relative;
// }

// h2 {
//     color: $tertiary-color;
//     font-size: 24px;
//     font-weight: 500;

// }
// .Collapse_title img {
//     cursor: pointer;
//     position: absolute;
//     height: 10px;
//     width: 15px;
//     color: $tertiary-color;
//     right: 15px;
//     transition: transform 0.3s ease;

// }

// .rotate {
//     transform: rotate(180deg);
// }
// .Collapse_content {
//     display: none;
//     opacity: 0; 
    
//     background-color: $secondary-color;
//     transition: opacity 0.3s ease; 
// }

// .open .Collapse_content {
//     display: block; 
//     opacity: 1; 
//     width: 100%;
//     // margin-left: 15px;
// }

// p {
//     color: $footer-color;
//     font-size: 20px;
//     font-weight: 400;
//     margin-left: 15px;
//     margin-right: 15px;
// }