.Collapse-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px ;
    align-items: center;
}

.Collapse {
    display: flex;
    flex-direction: column;
    width: 1023px;    
    border-radius: 5px ;   
    gap: 15px;
    margin-bottom: 30px;
}
.Collapse_title {
    display: flex;
    color: white;
    background-color: #FF6060 ;
    padding: 10px 20px 10px 15px;
    border-radius: 5px ;
    align-items: center;
    position: relative;
}
.Collapse_title img {
    cursor: pointer;
    position: absolute;
    height: 10px;
    width: 15px;
    color: white;
    right: 15px;
    transition: transform 0.3s ease;

}

.rotate {
    transform: rotate(180deg);
}
.Collapse_content {
    display: none; 
    opacity: 0; 
    color: black;
    background-color: white;
    transition: opacity 0.3s ease; 
}

.open .Collapse_content {
    display: block; 
    opacity: 1; 
    width: 960px;
    margin-left: 15px;
}