.header {
    display: flex;
    width: 1240px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}

.header-logo {
    width: 210px;
    height: 68px;
}
.header__fig {
    margin-left: 0;
    width: 210px;
}
.nav-header {
    display: flex;
    justify-content: flex-end;
    
    margin: auto;
    width: 1240px;
    }

    .nav-header a {
        margin-left: 40px;
        text-transform: none;
        text-decoration: none;
        color: black;
        font-size: 24px;
    }
    .nav-header a:hover {
        text-decoration: underline;
    }