@import '../../App.scss';

.home_gallery {
    width: 1240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 40px auto;    
    background-color: $secondary-color;
    border-radius: 10px;
    
    }

    @media (max-width: $small-screen) {
        .home_gallery {
            width: $min-width;
            grid-template-columns: repeat(1, 1fr);
        }
    }