$primary-color: #ff6060;
$secondary-color: #f7f7f7;
$tertiary-color: #ffffff;
$footer-color: #000000;
$background-color: rgba(0, 0, 0, 0.3);
$primary-font: 'Montserrat', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}