@import '../../App.scss';

.banner {
    display: flex;
    position: relative;    
    border-radius: $radius5;
    height: 223px;
    max-width: $pages-width;
    width: $content-medium-width;
    margin: $size4 auto;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 6px
}

.banner__img {
    border-radius: $radius5;
    height: $content-large-width;
    object-fit: cover;
    width: $content-large-width;

}

.banner__filtre {
    display: flex;
    position: absolute;
    height: $content-large-width;
    width: $content-large-width;
    border-radius: $radius5;
    background-color: rgba(0, 0, 0, 0.500);
}

.banner__txt {
    display: flex;
    position: absolute;
    color: white;
    font-family: Montserrat;
    font-size: $title0;
    font-weight: $weight1;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    top: $content-medsmall-width;
    left: $content-medsmall-width;
width: $content-large-width;
    text-shadow: rgba(0, 0, 0, 0.30) 0px 3px 4px;


}

@media (max-width: $medium-screen) {
    .banner {
        width: $content-medium-width;
        margin: $margin-base2;
    }

    .banner__txt {
        width: $content-large-width;
        font-size: $title1;

    }
}

@media (max-width: $small-screen) {
    .banner {
        width: $content-medium-width;
        height: 111px;
        margin: $margin-base2;

    }

    .banner__txt {
        display: flex;
        width: $content-large-width;
        font-size: $title2;
        text-align: left;
        padding-left: $psize5;
        padding-right: $psize20;

    }
}