@import '../../App.scss';

.banner {
    display: flex;
    position: relative;    
    border-radius: 25px;
    height: 223px;
    max-width: 1378px;
    width: 90%;
    margin: 40px auto;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 6px
}

.banner-img {
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;

}

.banner-filtre {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.500);
}

.banner-txt {
    display: flex;
    position: absolute;
    color: white;
    font-family: Montserrat;
    font-size: 49px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    text-shadow: rgba(0, 0, 0, 0.30) 0px 3px 4px;


}

@media (max-width: $medium-screen) {
    .banner {
        width: 90%;
        margin: 20px auto;
    }

    .banner-txt {
        width: 100%;
        font-size: 37px;

    }
}

@media (max-width: $small-screen) {
    .banner {
        width: 90%;
        height: 111px;
        margin: 20px auto;

    }

    .banner-txt {
        width: 100%;
        font-size: 24px;

    }
}